.blocoSuperior {
  position: absolute;
  background-color: #e44907;
  margin-top:-0.5%;
  margin-left: -0.5%;
  width: 105%;
  height: 130px;
  display: flex;
}

.textoCentralMain {
  position: relative;
  width: 100%;
  margin-top: 15%;
}
.textoCentralMain h3 {
  font-family: "Roboto", sans-serif;
  font-size: 40px;
  padding-bottom: 20px;
  text-align: center;
  color: #000;
}
.caixa-botao {
  background-color: #e44907;
  width: 15%;
  padding: 0.5%;
  margin-bottom: 5%;
  margin-left: 40%;
}
.botao {
  padding: 2%;
  background-color: #ffff;
}
.botao a {
  font-family: "Roboto", sans-serif;
  color: #415164;
  text-decoration: none;
}
.botao a:hover {
  color: #428a80;
  text-decoration: none;
}
.botao h2 {
  text-align: center;
  color: #000;
}
