.blocoSuperior {
  position: absolute;
  left: 0px;
  top: 0px;
  background-color: #e44907;
  width: 105%;
  height: 130px;
  display: flex;
}
.opcoes {
  margin-top: 3%;
  width: 100%;
  height: 50%;
  text-align: right;
  color: #ffff;
}
.menu-global {
  width: 90%;
  height: 100%;
  align-items: center;
}
.menu-global ul a {
  font-family: Roboto;
  display: flex;
  color: #ffff;
  margin-left: 40px;
  font-size: 200%;
  display: inline;
  text-decoration: none;
}
.textoCentralSobre {
  font-family: "Roboto", sans-serif;
  font-size: 170%;
  padding-top: 25%;
  padding-bottom: 15%;
  text-align: center;
}
